<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Shows</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
     <style>
        .inline-div {
            display: inline-block;
        }
    </style>
 
</head>
<body>
	
	<div th:insert="~{navbarForPages :: navbar}"></div>
	
    <div class="container mt-5">
        <h2 class="mb-4">Select Shows</h2>
                
        <div class="form-group">
            <label for="datePicker">Select Date</label>
            <input type="text" class="form-control" id="datePicker" placeholder="Select a date" name="showDate" required>
        </div>

        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Theater</th>
                    <th>Shows</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr th:each="entry : ${theaterShowTimings}">
                    <td th:text="${entry.key.theaterName}"></td>
                    <td>
                    <div th:each="timings: ${entry.value}" class="inline-div">
                    <form action="/selectSeats" method="post">
                    <input type="hidden" th:value="${entry.key.theaterName} " name="theaterName">
                    <input type="hidden" th:value="${timings}" name="movieTiming">
                    <input type="hidden"  name="movieDate" id="movieDate" class="movieDate">
                    <button type="submit"  th:text="${timings}" class="btn btn-primary mr-2" ></button>
                    </form>
                    </div>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>


  
</body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#datePicker').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true
            }).on('changeDate', function(e) {
                var selectedDate = $('#datePicker').datepicker('getFormattedDate');
                //console.log("Selected date: " + selectedDate); 
                $('.movieDate').val(selectedDate);
            });
            $('form').on('submit', function(e) {
                if (!$('#datePicker').val()) {
                    alert("Please select a date before submitting.");
                    e.preventDefault();
                }
            });

        });
    </script>
</html>
