<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
  	<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Add Movie Details</h2>
        <form action="/editMovie" method="POST" enctype="multipart/form-data">
        	<input type="hidden" th:value="${movie.movieId}" name="movieId">
            <div class="form-group">
                <label for="movieName">Movie Name</label>
                <input type="text" th:value="${movie.movieName}"  class="form-control" id="movieName" name="movieName" placeholder="Enter movie name" >
            </div>
            <div class="form-group">
                <label for="movieImage">Movie Image</label>
                <input type="file" class="form-control-file" id="movieImage" name="movieImage" accept="image/*" >
            </div>
             <div class="form-group">
			    <label for="theaters">Theaters</label><br>
			    <input name='theaters' id="theaters" th:value="${theaterNames}" placeholder="Enter all the theaters">			
            </div> 

           
            
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
	<script > 
	    var input = document.querySelector('input[name=theaters]');
	    new Tagify(input);
    </script>

</html>
